<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gym.user.QnaMapper">
<!-- user 관련 데이터 베이스 저장 할 곳 -->
  	<insert id="insert" parameterType="com.gym.app.dto.QnaDto">
  		insert into qna values(qna_seq.nextval,#{id},#{title},#{content},0,sysdate)
	</insert>
	<select id="getCount" resultType="int" parameterType="hashmap">
		select count(*) cnt from qna
		<where>
			<choose>
				<when test="sch_type=='title'">
				and title like concat(concat('%',#{sch_value}),'%')
				</when>
				<when test="sch_type=='content'">
				and content like concat(concat('%',#{sch_value}),'%')
				</when>
				<when test="sch_type=='id'">
				and id like concat(concat('%',#{sch_value}),'%')
				</when>
			</choose>
		</where>
	</select>
	<select id="plist" parameterType="hashmap" resultType="com.gym.app.dto.QnaDto">
		select * from (select aa.*,rownum rnum from
		(select * from qna 
		<where>
			<choose>
				<when test="sch_type=='title'">
				and title like concat(concat('%',#{sch_value}),'%')
				</when>
				<when test="sch_type=='content'">
				and content like concat(concat('%',#{sch_value}),'%')
				</when>
				<when test="sch_type=='id'">
				and id like concat(concat('%',#{sch_value}),'%')
				</when>
			</choose>
		</where>
		order by qnanum desc)aa )
		<![CDATA[where rnum>=#{startRow} and rnum<=#{endRow}]]>
	</select>
	<select id="getInfo" parameterType="int" resultType="com.gym.app.dto.QnaDto">
		select * from qna where qnanum=#{value}
	</select>
	<update id="addHit" parameterType="int">
		update qna
		set hit=hit+1
		where qnanum=#{value}
	</update>
	<!-- 이전글 -->
	<select id="prev" parameterType="int" resultType="com.gym.app.dto.QnaDto">
		select * from
 		(select * from qna
  		<![CDATA[where qnanum<#{value} order by qnanum desc]]>
  		)
		where rownum=1
	</select>
	<!-- 다음글 -->
	<select id="next" parameterType="int" resultType="com.gym.app.dto.QnaDto">
		select * from
 		(select * from qna
  		<![CDATA[where qnanum>${value} order by qnanum asc]]>
  		)
		where rownum=1
	</select>
	<update id="update" parameterType="com.gym.app.dto.QnaDto">
		update qna set title=#{title},content=#{content} where qnanum=#{qnanum}
	</update>
	<delete id="delete" parameterType="int">
		delete from qna where qnanum=#{value}
	</delete>
	<select id="alramqna" resultType="com.gym.app.dto.QnaDto">
	  select a.*,rownum from (select * from qna order by qnanum desc)a
	  <![CDATA[ where rownum < 6]]>
	</select>
	<select id="getPic" parameterType="String" resultType="String">
		select savefile from users where id=#{value}
	</select>
	<!-- #{num} 갯수 만큼 최신글을 뽑아옵니다 -->
	<select id="jsonlist" parameterType="int" resultType="com.gym.app.dto.QnaDto">
	  select a.*,rownum from (select * from qna order by qnanum desc)a
	  <![CDATA[ where rownum < #{value}]]>
	</select>
</mapper>
